body {
  background-color: #f4f5f6;
}

.navigation {
  background-color: #3498db;
}

.nav-link {
  color: white;
  font-size: 22px;
}

.nav-link:link {
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(17, 31, 37, 0.107);
}

.blog-post {
  color: #444;
  border: 2px solid #626262;
}
