body {
  background-color: #f4f5f6;
}

.navigation {
  background-color: #3498db;
}

.nav-link {
  color: white;
  font-size: 22px;
}

.nav-link:link {
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(17, 31, 37, 0.107);
}

.blog-post {
  color: #2f2f2f;
  border: 1px solid #e2e2e2;
}

.footer-link:link {
  color: #3498db;
  text-decoration: none;
  font-family: sans-serif;
}

.footer-link:hover {
  color: #2f2f2f;
  text-decoration: none;
  font-family: sans-serif;
}

.footer-link:visited {
  color: #3498db;
}

.bottom-nav-link:link {
  text-decoration: none;
  font-family: sans-serif;
  color: #2f2f2f;
}

.bottom-nav-link:focus {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  background-color: #3498db;
}
